@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Space Grotesk', sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
}
